<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faqs</title>
    <style>
        *{
          font-family:'Times New Roman', Times, serif;
          font-size: large;
        }
        .fixed-col {
      position: sticky;
      left: 0;
      background-color: #fff;
    }
    .over{
        overflow: auto;
        height:200px;
    }
    .scrollable-col {
      overflow: auto;
      max-height: 100vh;  /* Adjust the height as needed */
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="index2" class="navbar-brand">Leena Chatbot</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="about" class="nav-item nav-link active">about</a>
                    <a href="services" class="nav-item nav-link active">Our Services</a>
                    <a href="safety" class="nav-item nav-link active">Safety</a>
                    <a href="faqs" class="nav-item nav-link active">FAQs</a>
              </div>
              <div class="text-white navbar-nav ms-auto"><a href="login" class="nav-item nav-link active">Login</a> 
                  <a href="register" class="nav-item nav-link active">Register</a>
          
    
         </div>
        </div>
    </nav>
    
    <div class="container-fluid">
<div class="row">
    <div class="col-md-3 fixed-col">
<h2><b>/Innovation</b></h2>
<br>
<br>
<br>
<b>/table of contents </b>
<hr>
<div class="over">
<ul style="list-style-type: square;">
    <li>What is ChatGPT and why does it matter? Here's what you need to know </li>
    <li>What is ChatGPT?</li>
    <li>Who made ChatGPT?</li>
    <li>How can you access ChatGPT?</li>
    <li>Is there a ChatGPT app?</li>
    <li>Is ChatGPT available for free?</li>
    <li>What is ChatGPT used for?</li>
    <li>How to use ChatGPT to:</li>
    <li>How does ChatGPT work?</li>
    <li>Is ChatGPT better than Google?</li>
    <li>What are ChatGPT's limitations?</li>
    <li>Does ChatGPT give wrong answers?</li>
    <li>Can ChatGPT refuse to answer my prompts?</li>
<li>Can I chat with ChatGPT?</li>
</ul>
</div>

    </div>
    <div class="col-md-9 scrollable-col">
        <br>
        <p>
        Part of a faqs Special Feature: The Rise of Generative AI
Why you can trust ChatGPT?
Here Leena faqs independently tests and researches products to bring you our best recommendations and advice. When you buy through our links, we may earn a commission. Our process
Home  Innovation  Artificial Intelligence</p>
<h1>What is ChatGPT and why does it matter? Here's what you need to know</h1><p>
    Updated: This AI chatbot's advanced conversational capabilities have generated quite the buzz. We answer your questions.</p>
    
   <div class="row">
    <div class="col">
<img src="http://surl.li/lnziy" width="80px" height="80px">
    
    <span>
    Written by Sabrina Ortiz, Editor on Sept. 15, 2023
    Reviewed by Min Shin ;Mark Samuels and Alyson Windsor</span></div></div>
    <div class="container">
        <h2>What is ChatGPT?</h2>
        <p>
    ChatGPT is a natural language processing tool driven by AI technology that allows you to have human-like conversations and much more with the chatbot. The language model can answer questions and assist you with tasks, such as composing emails, essays, and code.
    </p>
    <b>
    Also: How to use ChatGPT: What you need to know now
    </b>
    <p>
    It's currently open to use by the public for free. A paid subscription version called ChatGPT Plus launched at the beginning of February.
    </p>
    <h2>
    Who made ChatGPT?</h2>
    <p>
    ChatGPT was created by OpenAI, an AI and research company. The company launched ChatGPT on November 30, 2022. 
    </p><u><b>
    Also: My 5 favorite AI tools for school: Class is in session, and generative AI can help
    </b></u>
    <p>
    OpenAI is also responsible for creating DALL-E 2, a popular AI art generator, and Whisper, an automatic speech recognition system. 
    </p>
    <h3>
    How can you access ChatGPT? </h3>
    <p>
    You can access ChatGPT simply by visiting chat.openai.com and creating an OpenAI account. 
   </p> 
   <p>You can also still use the old URL for the chatbot, which is chat.openai.com/chat. OpenAI simplified the original URL for user convenience. 
</p>
<p>
   Once you sign in, you can start chatting away with ChatGPT. Get your conversation started by asking a question. You can ask as many questions as you'd like.
</p>
<p>
For step-by-step instructions, check out Leena's guide on how to start using ChatGPT. 
</p>
<p><b><u>
Also: Meet generative AI's 'super users': 70% of Gen Z use GenAI
</u></b></p>
<p>
You can also access ChatGPT via an app on your iPhone or Android device. 
</p>
<h2>
Is there a ChatGPT app?</h2>
<p>
Yes, an official ChatGPT app is available for both iPhone and Android users. 
</p>
<p><u><b>
Also: 4 ways teachers can use ChatGPT in their classrooms, according to OpenAI
</b></u></p>
<p>
However, when looking on the app store, make sure to download the app that is created by OpenAI because there are a plethora of copycat fake apps listed on the App Store and Play Store that are not ChatGPT-affiliated. 
</p>
<hr>
<h2>
Is ChatGPT available for free?</h2>
<p>
ChatGPT is free to use, regardless of what you use it for, including writing, coding, and much more. 
</p><p>
There is a subscription option that users can take advantage of that costs $20/month. The paid subscription model guarantees users extra perks, such as general access even at capacity, access to GPT-4, faster response times, and access to the internet through plugins.
</p><b><u>
Also: 4 things Claude AI can do that ChatGPT can't
</u></b><p>
However, the free version is still a solid option as it has mostly the same technical abilities, with the exception of access to the latest version of the large language model (LLM), known as GPT-4, and the internet, which the subscription model guarantees. 
</p>
<p><b>I tried using ChatGPT and it says it's at capacity. What does that mean?</b></p>
<p>
The website operates using a server, and when too many people hop onto the server, it overloads and can't process your request. 
</p>
<p>
Try visiting the site at a later time when fewer people are trying to access the server. You can also keep the tab open and just refresh it periodically. 
</p>
<p><b><u>
Also: These are my 5 favorite AI tools for work
</u></b></p>
<p>
If you want to skip the wait and have reliable access, there is an option for you. ChatGPT Plus allows users to have general access even during peak times, experience faster response times, and have priority access to new features and improvements, including OpenAI's most advanced LLM, GPT-4. 
</p>
<h3>What is ChatGPT used for?</h3>
<p>
ChatGPT has many functions in addition to answering simple questions. ChatGPT can compose essays, describe art in great detail, create AI art prompts, have philosophical conversations, and even code for you. 
<p><b><u>
Also: 5 ways to use chatbots to make your life easier
</u></b></p><p>
My personal favorite use is asking the chatbot for help creating basic lists for chores, such as packing and grocery shopping, and to-do lists that make my daily life more productive. The possibilities are endless. 
</p>
<p>
Leena has published many ChatGPT how-to guides. Here are some of the most popular. 
</p>
<b><h4>
How to use ChatGPT to:</h4> </b>
<ul style="list-style-type:disc;">
<li>Write an essay</li>
<li>Create an app</li>
<li>Write code</li>
<li>Build your resume</li>
<li>Write Excel formulas</li>
<li>Summarize content</li>
<li>Write a cover letter</li>
<li>Start an Etsy business</li>
<li>Create charts and tables</li>
<li>Write Adruino drivers</li>
</ul>
<h2>
How does ChatGPT work?</h2>
<p>
ChatGPT runs on a language model architecture created by OpenAI called the Generative Pre-trained Transformer (GPT). The specific GPT used by ChatGPT is fine-tuned from a model in the GPT-3.5 series, according to OpenAI. 
</p>
<p>
However, with a subscription to ChatGPT Plus, you can access ChatGPT with GPT-4, Open AI's most advanced model. 
</p>
<p><b><u>Also: Here's a deep dive into how ChatGPT works 

</u></b></p>
<p>
    Generative AI models of this type are trained on vast amounts of information from the internet, including websites, books, news articles, and more.  
</p>
<p>
    The language model was fine-tuned using supervised learning as well as reinforcement learning. The use of Reinforcement Learning from Human Feedback (RLHF) is what makes ChatGPT especially unique. 
</p>
<p>
    Through RLHF, human AI trainers provided the model with conversations in which they played both parts, the user and AI assistants, according to OpenAI. 
</p>
<h2>Is ChatGPT better than Google?</h2>
<p>ChatGPT is a language model created to hold a conversation with the end user. A search engine indexes web pages on the internet to help the user find the information they asked for. Therefore, one is not better than the other as they suit different purposes. </p>
<p>If you are searching for up-to-date, accurate information, then a search engine is your best bet. </p>
<p>The free version of ChatGPT does not have the ability to search the internet for information. It uses the information it learned from training data to generate a response, which leaves room for error. </p>
<p><u><b>Also: ChatGPT or Google: Which gives the best answers?</b></u></p>
<p>Another major difference is that ChatGPT only has access to information up to 2021, whereas a regular search engine like Google has access to the latest information. So, if you ask the free version of ChatGPT who won the World Cup in 2022, it wouldn't be able to give you a response, but Google would. </p>
<p>If you are a ChatGPT Plus subscriber, you have access to Bing's integration into ChatGPT, which gives the chatbot access to the internet. Since it has the ability to index the web, the major difference between ChatGPT Plus and a search engine is the chatbot's ability to understand natural language prompts and provide conversational answers. </p>
<p>If you are in search of a platform that can explain complex topics in an easy-to-understand manner, then ChatGPT might be a better alternative.</p>
<h2>What are ChatGPT's limitations?</h2>
<p>Despite looking very impressive, ChatGPT still has limitations. Users sometimes need to reword questions multiple times for ChatGPT to understand their intent. A bigger limitation is a lack of quality in the responses it delivers -- which can sometimes be plausible-sounding, but make no practical sense, or can be excessively verbose. </p>
<p><u><b>Also: How this simple ChatGPT prompt tweak can help refine your AI-generated content</b></u></p>
<p>Instead of asking for clarification on ambiguous questions, the model just guesses what your question means, which can lead to unintended responses to questions. This limitation led developer question-and-answer site StackOverflow to at least temporarily ban ChatGPT-generated responses to questions.
</p>
<p>"The primary problem is that while the answers that ChatGPT produces have a high rate of being incorrect, they typically look like they might be good and the answers are very easy to produce," say Stack Overflow moderators in a post. Critics argue that these tools are just very good at putting words into an order that makes sense from a statistical point of view, but they cannot understand the meaning or know whether the statements it makes are correct.</p>
<p><u><b>Also: One in four workers fears being considered 'lazy' if they use AI tools</b></u></p>
<p>Another major limitation is that ChatGPT's data is limited up to 2021. The chatbot does not have an awareness of events or news that has occurred since then. Lastly, ChatGPT does not provide sources for its responses. </p>
<p>These two problems, however, were addressed through ChatGPT's integration into Bing as its default search engine. A Bing plugin gives ChatGPT the ability to index the internet and provide citations. The Bing plugin is limited to ChatGPT Plus subscribers at the moment, but will be free for everyone to use in the future.  </p>
<h2>Does ChatGPT give wrong answers?</h2>
<p>A mentioned above, ChatGPT, like all language models, has limitations and can give nonsensical answers and incorrect information, so it's important to double-check the data it gives you.</p>
<p><u><b>Also: ChatGPT answers more than half of software engineering questions incorrectly</b></u></p>
<p>OpenAI recommends that users provide feedback on what ChatGPT tells them by using the thumbs-up and thumbs-down buttons to improve the model. Even better, you could become part of the company's Bug Bounty program to earn up to $20,000 by reporting security bugs and safety issues. </p>
<p>The AI chatbot is not connected to the internet and, as a result, doesn't have access to the latest information, which can also lead to incorrect answers. </p>
<h2>Can ChatGPT refuse to answer my prompts?</h2>
<p>AI systems like ChatGPT can and do reject inappropriate requests. Aside from having limited knowledge, the AI assistant can identify inappropriate submissions to prevent the generation of unsafe content. </p>
<p><u><i>Also: 6 things ChatGPT can't do (and another 20 it refuses to do)</i></u></p>
<p>These submissions include questions that violate someone's rights, are offensive, are discriminatory, or involve illegal activities. The ChatGPT model can also challenge incorrect premises, answer follow-up questions, and even admit mistakes when you point them out.</p>
<h2>Can I chat with ChatGPT?</h2>
<p>Although some people are using ChatGPT for some elaborate functions, such as writing code or even malware, you can use ChatGPT for more mundane activities, such as having a friendly conversation. </p>
<hr>


</div>
</div>

</div>

    </div>

    <div class="container">
    <b>/ artificial Intelligence</b>
    <div class="row">
        <div class="col">
<figure class="inline"><img src="http://surl.li/locqc"><figcaption>
   <a href="https://www.zdnet.com/article/how-to-use-chatgpt-to-write-excel-formulas/">How to write Excel formulas</a>
</figcaption></figure>

<figure class="inline">
    <img src="http://surl.li/locsg">
    <figcaption>
        <a href="https://www.zdnet.com/article/how-to-use-chatgpt-to-write-code/">How to use ChatGPT to write code </a>
    </figcaption>
</figure>
</div>
<div class="col">
<figure class="inline">
    <img src="http://surl.li/locsz">
    <figcaption>
        <a href="https://www.zdnet.com/article/chatgpt-vs-bing-chat/">ChatGPT vs.Bing Chat</a>
    </figcaption>
</figure>


<figure class="inline">
    <img src="http://surl.li/loctw">
    <figcaption>
        <a href="https://www.zdnet.com/article/how-to-use-chatgpt-to-build-your-resume/">Build your resume</a>
    </figcaption>
</figure>
</div>
</div>
</div>

<div class="container-fluid footer p-3 text-center">
   
    <div class="row">
       
    <div class="col">
        <a href = "mailto: abc@example.com" class="btn text-light w-100" style="border: 1px solid white;border-radius: 30px;">Send Email</a>
    <br>
    <table>
        <tr>
        <th>
            partnership
        </th>
        <th>
            About
        </th>
        <th>
            support
        </th>
    </tr>
    <tr>
        <td>
            websites
        </td>
        <td>
           our projects
        </td>
        <td>
            support request
        </td>
    </tr>
    <tr>
        <td>
           Branding
        </td>
        <td>
          careers
        </td>
        <td>
            contact
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    
    </table>
    <hr style="color: aliceblue;">
    <p style="color: azure;">@All rights reserved for 2023</p>
    </div>
    </div>
    </div>
    
</body>
</html>